<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<add name="SQLConn" connectionString="user id=sa;password=1234;
			 initial catalog=SQLEXP2022;data source=DESKTOP-4QD9C7S\SQLEXP2022"/>
	</connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    </system.web>

</configuration>
